<footer class=" pt-2  ">
  <div class="container mx-auto  row cols-md-3 mt-5">
    <div class="col">
      <div>
        <h2 class="text-center">Location</h2>
        <p class=" mt-4  fs-5 lh-1 text-center">2215 John Daniel Drive
          Clark, MO 65243 </p>
      </div>
    </div>
    <div class="col">
      <div>
        <h2 class="text-center">Around the Web</h2>
        <div class=" mt-4 d-flex text-center mt-3 justify-content-between px-5 ">
          <a class="btn btn-outline-light rounded-circle border border-2">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light rounded-circle border border-2">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light rounded-circle border border-2">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light rounded-circle border border-2">
            <i class="fa-brands fa-dribbble"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div>
        <h2 class="text-center">About Freelancer</h2>
        <p class=" mt-4 fs-5 lh-1 text-center">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
  <div  class="copyRights  mt-5  py-2">
    <p class="text-center  ">Copyright © Your Website 2021</p>
  </div>
</footer>
