
<Section class="mb-5">
    <div class="container p-2">
      <h2 class="text-center text-uppercase ">Contacts</h2>
      <div class="d-flex position-relative justify-content-center mt-4  ">

        <div class="line me-3"></div>
        <div>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="line ms-3"></div>

      </div>
      <div class="w-75 mx-auto mt-5 ">

        <input class=" form-control-lg " type="text" placeholder="Name">
        <input class=" form-control-lg " type="email" placeholder="Email Address">
        <input class=" form-control-lg " type="text" placeholder="Phone Number">
        <textarea name="" id="" class="form-control-lg"  placeholder="Message" ></textarea>
      </div>
    </div>
</Section>
