

<Section id="Portfolio" class="my-5" >
  <h2 class="text-center">Portfolio</h2>
  <div class="d-flex position-relative justify-content-center my-4  ">

    <div class="line me-3"></div>
    <div>
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="line ms-3"></div>

  </div>

  <div class="container row row-cols-1 row-cols-md-3 mx-auto gy-4 ">
    <div *ngFor="let img of imgs"  class="col">
      <div   class="card" data-bs-toggle="modal" (click)="getImg(img)" data-bs-target="#exampleModal">
          <img src="{{img.path}}" class="w-100 rounded  "  alt="" srcset="">
          <div class="overplay rounded">
              <i class="fa-solid fa-plus "></i>
          </div>
      </div>
    </div>

    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  ">
        <div class="modal-content ">
          <div class="modal-header border border-0 ">

            <button type="button" class="btnclose " data-bs-dismiss="modal" aria-label="Close">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="modal-body  mx-auto">
            <h2 class="text-center">{{imgName}} </h2>
            <div class="d-flex position-relative justify-content-center my-4  ">

              <div class="line me-3"></div>
              <div>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="line ms-3"></div>

            </div>
            <img [src]="imgScr" class="w-100 rounded-2" alt="" srcset="">
            <p class="details text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos sed deserunt ea repellat cupiditate asperiores veniam iste mollitia consectetur nulla!</p>
          </div>
          <div class="modal-footer justify-content-center border border-0 ">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"> <i class="fa-solid fa-xmark"></i> Close</button>

          </div>
        </div>
      </div>
    </div>





      <!-- <div class="w-100 position-absolute bgBlack">

        <div class="popUp p-3 bg-white ">
          <div class="">
            <i class="fa-solid fa-close fa-2xl "></i>
          </div>
          <h2 class="text-center">Tasty Cake</h2>
          <div class="d-flex position-relative justify-content-center  ">

            <div class="line me-3"></div>
            <div>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="line ms-3"></div>

          </div>

          <div class="w-50 mx-auto">
            <img src="../../assets/Images/cake.png" class="w-100" alt="" srcset="">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <button class="btn btn-success">Close Window</button>
          </div>

        </div>


      </div> -->




  </div>

</Section>
