<Section id="Home">
  <div class="container py-2">
    <div class="avatar w-25 mx-auto ">
        <img src="./assets/Images/avataaars.svg" class="w-100" alt="" srcset="">
    </div>
    <h2 class="text-uppercase text-center my-4">start angular</h2>
    <div class="d-flex position-relative justify-content-center  ">

      <div class="line me-3"></div>
      <div>
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="line ms-3"></div>

    </div>
    <p class="text-light text-center fs-3 mt-4">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</Section>
